<p style="font-size:20px">
Problem statement: To check "sex" and "smoker" features are dependent or not.<br>
H0(Null hypothesis): sex and smoker are independent.<br>
H1(Alternate hypothesis): sex and smoker are dependent.<br>

In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
from scipy.stats import chi2_contingency

In [2]:
df = sns.load_dataset('tips')

In [3]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
pd.crosstab(df['sex'], df['smoker'])

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [5]:
observed_values_table = pd.crosstab(df['sex'], df['smoker'])
observed_values_values = observed_values_table.values
observed_values_values

array([[60, 97],
       [33, 54]])

In [8]:
statistic,pvalue,dof,expected_freq = chi2_contingency(observed_values_table)
statistic,pvalue,dof,expected_freq

(0.0,
 1.0,
 1,
 array([[59.84016393, 97.15983607],
        [33.15983607, 53.84016393]]))

<p style="font-size:20px">
pvalue > 0.05<br>
Null Hypothesis is Accepted<br>
Smoker and sex are independent